body,html{
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden!important;
	overflow-x: hidden;
}

#intro{
	position: absolute;
	background: url(../assets/intro-blur.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	color: white;
}

#intro-filter{
	width: 70vw;
	height: 100vh;
	padding: 15vw;
	font-family: 'Tajawal', sans-serif;
	font-size: 3vw;
	text-align: center;
	background: rgba(0,0,0,0.5);
}
#open-btn-holder{
	margin : 0 auto;
	margin-top: 10vh;
	z-index:  30050!important;
	font-family: 'Tajawal', sans-serif;
	font-size: 2.7vw;
	color: black;
}
#open-btn{
	display: table;
	margin: 0 auto;
	border-radius: 3vw;
	padding-top: 2vh;
	padding-left: 3vw;
	padding-right: 3vw;
	background: rgba(255,255,255,0.6);
	cursor: pointer;
}
#open-btn:hover{
	background: rgba(255,255,255,0.9);
}

#content{
	position: absolute;
	top:100vh;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

}
.controls{
	display: none;
}

#mapArea{
	position: absolute;
	top: 17vh;
	left: 15vw;
	height: 83vh;
	width: 90vw;
}

#nav-bar{
	top: 0vh;
	left: 0vh;
	width: 100vw;
	position: absolute;
	height: 17vh;
	background-color: #ECEFF1;
	overflow-x: hidden;
	z-index: 30009;
	box-shadow: 0 0 20px 0.1px;
	overflow-y: hidden;
}

#menu-btn{
	position: absolute;
	width: 2vw;
	margin-top: 4.5vh;
	margin-left: 3vw;
	opacity: 0.8;
	display: none;
}
#search-box{
	color: #455A64;
	width: 20vw;
	position: absolute;
	margin-left: 2vw;
	margin-top: 4vh;
	font-family: 'Tajawal', sans-serif;
	font-size: 26px;
	height: 3vh; 
	padding-top: 1.5vh;
	padding-bottom: 0.7vh;
	border-radius: 6vw;
	outline: none;
	border: none;
	padding-left: 2vw;
	padding-right: 3vw;
	box-shadow: 0 2px 2px rgba(0,0,0,0.23);
	text-overflow: ellipsis;
}

#title{
	position: absolute;
	font-size: 36px;
	text-align: center;
	color:#455A64;
	font-family: 'Tajawal', sans-serif;
	top: 4vh;
}
#search-complete{
	cursor: pointer;
	position: absolute;
	width: 20vw;
	margin-left: 2.7vw;
	margin-top: 9.3vh;
	background-color: #FAFAFA;
	z-index: 30010;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	display: none;
}
.search-items{
	color: #455A64;
	font-family: 'Tajawal', sans-serif;
	font-size: 24.115px;
	margin-bottom: 2vh;
}
.search-itemz{
	color: #455A64;
	font-family: 'Tajawal', sans-serif;
	font-size: 24.115px;
	margin-bottom: 2vh;
}
.search-items:hover{
	color: #1A237E;
}
.search-items-sel{
	color: #1A237E;
}
#clear-btn{
	position: absolute;
	width: 1.5vw;
	left: 23.2vw;
	top: 5.2vh;
	opacity: 0.5;
	z-index: z-index: 30009;
	cursor: pointer;
}
#cat-bar{
	position: absolute;
	margin-top: 10vh;
	height: 7vh;
	width: 100vw;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	padding-top: 1.9vh;
	padding-left: 2vw;
}
.cat-btn{
	display: inline;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-top: 2vw;
	margin-left: 0.3vw;
	margin-right: 0.3vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	border-radius: 7vw;
	cursor: pointer;
}
.cat-btn:hover{
	box-shadow: 0 0 3px 0.1px;
}

#logo{
	background-color: rgba(255,255,255,0);
	padding: 0.5vw;
	width: 7vw;
	position: absolute;
	right: 4vw;
	bottom: 2vh;
	z-index: 30009!important;
}
#menu-pane{
	position: absolute;
	top: 17vh;
	width: 400px;
	left: 0vw;
	height: 78vh;
	z-index: 30007!important;
	padding-top: 3vh;
	padding-bottom: 2vh;
	background-color: #F5F5F5;
	overflow-y: scroll;
	box-shadow: 0 0 15px 0.1px;

	-webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;

}
#powered{
	padding-top: 3vw;
	width: 100%;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
	font-size: 18.55px;
}
#logo-power{
	width: 200px;
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-left: 100px;
}
#desc{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
	font-size: 18.55px;
}

.cat-pane{
	padding-top: 2.5vh;
	padding-bottom: 2vh;
	padding-left: 3vw;
	padding-right: 2vw;
	font-family: 'Roboto', sans-serif;
	font-size: 18.55px;
	border-bottom: solid #B0BEC5 1px ;
}
.cat-name{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	cursor: pointer;
}
.cat-more{
	cursor: pointer;
	float: right;
	position: relative;
	width: 2.5vw;
	height: 2.5vw;
	right: 0vw;
	top: -2vw;
	opacity: 0.3;
	font-size: 18.55px;


	-webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.cat-more:hover{
	opacity: 0.9!important;
}
.cat-items-pane{
	margin-top: 2vh;
	margin-bottom: 2vh;
	display: none;
}
.cat-item{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding-top: 2vh;
	color: #607D8B;
	cursor: pointer;
}
.cat-item:hover{
	color: #263238!important;
}
#empty-space{
	height: 4vh;
}
#home-view{
	position: absolute;
	cursor: pointer;
	right: 5vw;
	bottom: 20vh;
	width: 8vh;
	border-radius: 50%;
	z-index: 30006!important;
}
#curr-loc{
	cursor: pointer;
	position: absolute;
	right: 5vw;
	width: 8vh;
	bottom: 10vh;
	border-radius: 50%;
	z-index: 30016!important;
}

#zoom-in{
	width: 7vh;
	position: absolute;
	bottom: 42.3vh;
	right: 5.2vw;
	z-index: 30006!important;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	font-size: 55.65px;
	text-align: center;
	padding-top: 1vh;
	color:#9E9E9E;
	cursor: pointer;
}
#zoom-in:hover{
	color: #212121;
}
#zoom-out{
	width: 7vh;
	position: absolute;
	bottom: 37vh;
	right: 5.2vw;
	z-index: 30006!important;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	font-size: 55.65px;
	text-align: center;
	color: 	#9E9E9E;
	cursor: pointer;
}

#zoom-out:hover{
	color: #212121;
}
#info-box{
	
	overflow-wrap: break-word;
  	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
	

	left: 500px;
	position: absolute;
	z-index: 30007!important;
	width: 20vw;
	bottom: 3vh;
	background-color: #F5F5F5;
	border-radius: 20px;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	box-shadow: 0 0 10px 0.01px #607D8B;
	display: none;
}


#info-close{
	position: absolute;
	width: 1.2vw;
	right: 1vw;
	top: 4vh;
	cursor: pointer;
}

#info-name{
	width: 20vw;
	color: #BF360C;
	font-family: 'Roboto', sans-serif;
	font-size: 27.825px;
}
#info-add{
	color: #37474F;
	margin-top: 2vh;
	font-family: 'Roboto', sans-serif;
	font-size: 18.55px;
	width: 20vw;
}
#info-phone{
	overflow-wrap: normal;
	color: #37474F;
	margin-top: 1.5vh;
	font-family: 'Roboto', sans-serif;
	font-size: 18.55px;
	width: 20vw;
	display: block;
}
.ph-inner{
	display: inline-block;
	color: #37474F !important;
	padding-right: 2vw;
}
#info-email{
	color: #37474F;
	margin-top: 1vh;
	font-family: 'Roboto', sans-serif;
	font-size: 18.55px;
	width: 20vw;
}
#info-email a{
	color: #37474F !important;
}
#info-web{
	color: #37474F;
	margin-top: 1vh;
	font-family: 'Roboto', sans-serif;
	font-size: 18.55px;
	width: 20vw;
}
#info-web a{
	color: #37474F !important;
}

.tool-tip {
  background: white!important;
  opacity: 1;
}

