body,html{
	height: 100vh!important;
	margin: 0;
	padding: 0;
	overflow-y: hidden!important;
	overflow-x: hidden!important;
}

#content.noscroll {
   overflow: hidden!important;
   overflow-y: hidden!important;
   position: fixed!important;
}
#content.noscroll {
   overflow: hidden!important;
   overflow-y: hidden!important;
   position: fixed!important;
}

#intro{
	overflow-y: hidden!important;
	position: absolute;
	background: url(../assets/intro-blur.jpg);
	background-size: 250vh;
	background-repeat: no-repeat;
	background-position: -50vh, 0vh;
	width: 100vw;
	color: white;
}
#intro-filter{
	width: 70vw;
	height: 100vh;
	padding: 15vw;
	font-family: 'Tajawal', sans-serif;
	font-size: 3vh;
	padding-top: 30vh;
	text-align: center;
	background: rgba(0,0,0,0.5);
}
#open-btn{
	margin : 0 auto;
	margin-top: 10vh;
	z-index:  30050!important;
	font-family: 'Tajawal', sans-serif;
	font-size: 3vh;
	color: black;
	border-radius: 30vw;
	width: 30vw;
	height: 4vw;
	padding: 3vw;
	background: rgba(255,255,255,0.6);
	cursor: pointer;
}
#open-btn:hover{
	background: rgba(255,255,255,0.9);
}
#content{
	overflow: hidden!important;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top:100vh;
	-webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.controls{
	display: none;
}
#mapArea{
	position: absolute;
	top: 19vh;
	left: 0vh;
	height: 81vh;
	width: 100vw;
}

#map-filter{
	position: absolute;
	top: 19vh;
	left: 0vh;
	height: 81vh;
	width: 100vw;
	z-index: 30007!important;
	background-color: black;
	opacity: 0.5;
	display: none;
}

#nav-bar{
	top: 0vh;
	left: 0vh;
	width: 100vw;
	position: absolute;
	height: 19vh;
	background-color: #ECEFF1;
	overflow-x: hidden;
	z-index: 30009;
	box-shadow: 0 0 20px 0.1px;
	overflow-y: hidden;
}

#menu-btn{
	position: absolute;
	width: 6vw;
	margin-top: 4.5vh;
	margin-left: 3vw;
	opacity: 0.8;
}
#search-box{
	color: #455A64;
	width: 66vw;
	position: absolute;
	margin-left: 15vw;
	margin-top: 3vh;
	font-family: 'Tajawal', sans-serif;
	font-size: 6vw;
	height: 5vh; 
	padding-top: 1.3vh;
	padding-bottom: 0.7vh;
	border-radius: 6vw;
	outline: none;
	border: none;
	padding-left: 5vw;
	padding-right: 10vw;
	box-shadow: 0 2px 2px rgba(0,0,0,0.23);
}
#title{
	position: absolute;
	font-size: 2vw;
	width: 100vw;
	text-align: center;
	color:#455A64;
	font-family: 'Tajawal', sans-serif;
	top: 3vh;
	display: none;
}
#search-complete{
	position: absolute;
	width: 62vw;
	margin-left: 19vw;
	margin-top: 10.5vh;
	background-color: #FAFAFA;
	z-index: 30010;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	display: none;
}
.search-items{
	color: #455A64;
	font-family: 'Tajawal', sans-serif;
	font-size: 4vw;
	margin-bottom: 2vh;
}
#clear-btn{
	position: absolute;
	width: 4vw;
	right: 10vw;
	top: 5.5vh;
	opacity: 0.5;
	z-index: z-index: 30009;
}
#cat-bar{
	position: absolute;
	margin-top: 11vh;
	height: 7vh;
	width: 100vw;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	padding-top: 1.9vh;
}
.cat-btn{
	display: inline;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 3.5vw;
	margin-top: 2vw;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 3vw;
	padding-right: 3vw;
	border-radius: 7vw;
}

#menu-pane{
	position: absolute;
	top: 19vh;
	left: -100vw;
	width: 90vw;
	height: 81vh;
	z-index: 30007!important;
	padding-top: 3vh;
	padding-bottom: 10vh;
	background-color: #F5F5F5;
	overflow-y: scroll;
	box-shadow: 0 0 15px 0.1px;

	-webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;

}
#powered{
	padding-top: 3vh;
	width: 100%;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
	font-size: 2.5vh;
}
#logo-power{
	width: 30vw;
	padding-top: 5vw;
	padding-bottom: 5vw;
	padding-left: 17vh;
}
#desc{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	font-family: 'Tajawal', sans-serif;
	font-size: 2.5vh;
	padding-bottom: 20vw;
}
#logo{
	background-color: rgba(255,255,255,0);
	padding: 0.5vw;
	width: 17vw;
	position: absolute;
	right: 4vw;
	bottom: 4vh;
	z-index: 30005!important;
}
.cat-pane{
	padding-top: 3vh;
	padding-bottom: 3vh;
	padding-left: 13vw;
	padding-right: 10vw;
	border-bottom: solid #B0BEC5 1px ;
}
.cat-name{
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	cursor: pointer;
}
.cat-more{
	float: right;
	position: relative;
	width: 9vw;
	height: 9vw;
	right: -2vw;
	top: -4vh;
	opacity: 0.3;
	font-size: 1px;

	-webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;

}
.cat-items-pane{
	margin-top: 2vh;
	margin-bottom: 2vh;
	display: none;
}
.cat-item{
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	padding-top: 3vh;
	color: #607D8B;
}
#empty-space{
	height: 4vh;
}
#home-view{
	position: absolute;
	right: 5vw;
	bottom: 20vh;
	width: 13vw;
	border-radius: 50%;
	z-index: 30006!important;
}
#curr-loc{
	position: absolute;
	right: 5vw;
	width: 13vw;
	bottom: 10vh;
	border-radius: 50%;
	z-index: 30006!important;
}
#info-box{
	position: absolute;
	z-index: 30007!important;
	width: 80vw;
	bottom: -10vh;
	background-color: #ECEFF1;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 4vh;
	padding-bottom: 14vh;
	box-shadow: 0 0 10px 0.01px #607D8B;
	display: none;
}


#info-close{
	position: absolute;
	width: 5vw;
	right: 5vw;
	top: 4vh;
}

#info-name{
	width: 73vw;
	color: #BF360C;
	font-family: 'Roboto', sans-serif;
	font-size: 5vw;
}
#info-add{
	color: #37474F;
	margin-top: 2vh;
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	width: 73vw;
}
#info-phone{
	color: #37474F;
	margin-top: 1.5vh;
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	width: 73vw;
}
#info-phone a{
	color: #37474F !important;
}
#info-email{
	color: #37474F;
	margin-top: 1vh;
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	width: 73vw;
}
#info-email a{
	color: #37474F !important;
}
#info-web{
	color: #37474F !important;
	margin-top: 1vh;
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;
	width: 73vw;
	text-decoration: none !important;
}
#info-web a{
	color: #37474F !important;
}

.tool-tip {
  background: white!important;
  opacity: 1;
}